.phone{
	top: -16rem;
    max-height: 615px;
    float: right;
    margin-right: 150px;
}

.container{
	
	height: 600px;
	position: relative;
	text-align: center;
}

.charecteristic{
	display: block;
}
#column{
	width: 250px;
	height: 170px;
}

.first{
	display: flex;
	justify-content: center;
}

.second .fourth{
	background-color: #5DDCB3;
}

button{
	position: relative center;
	width: 105px;
	height: 36px;
	border-radius: 100px;
	background-color: #54DEEA;
	color: #ffff;
}